<div class="info-container">
    <h1>OUR SERVICES</h1>
    <hr width="20%">
    <div class="grid-container">
        <div class="grid-item">
            <h2>Travel</h2>
            <h4>Article Title</h4>
            <p>Lorem ipsum dolor sit amet, Ipsum labitur lucilius mel id, ad has appareat...</p>
        </div>
        <div class="grid-item">
            <h2>Travel Arrangements</h2>
            <h4>Article Title</h4>
            <p>Lorem ipsum dolor sit amet, Ipsum labitur lucilius mel id, ad has appareat...</p>
        </div>
        <div class="grid-item">
            <h2>Our Professional Guide</h2>
            <h4>Article Title</h4>
            <p>Lorem ipsum dolor sit amet, Ipsum labitur lucilius mel id, ad has appareat...</p>
        </div>
        <div class="grid-item">
            <h2>Activities</h2>
            <h4>Article Title</h4>
            <p>Lorem ipsum dolor sit amet, Ipsum labitur lucilius mel id, ad has appareat...</p>
        </div>
    </div>
</div>